Repository DIE-BG/HEMI, pull requests merged in 2021-08, with the labels that each got.

#61 Agregar función de inflación de evaluación a SimConfig
  scripts/test_SimConfig.jl
  src/InflationEvalTools/src/config/SimConfig.jl
  src/InflationEvalTools/src/param/InflationParameter.jl
  src/InflationEvalTools/src/simulate/simutils.jl
  src/InflationFunctions/src/InflationTotalRebaseCPI.jl
Labels: enhancement

#71 Fecha de finalización de datos en nombre de resultados
  docs/make.jl
  scripts/test_SimConfig.jl
  src/InflationEvalTools/src/config/SimConfig.jl
  src/InflationEvalTools/src/simulate/simutils.jl
Labels: enhancement

#72 Guía de Evaluación con Escenarios
  docs/make.jl
  docs/src/guides/Guia-evaluacion.md
  scripts/test_SimConfig.jl
Labels: documentation

#76 Cambios en savename y etiquetas
  src/CPIDataBase/src/inflation/InflationTotalCPI.jl
  src/InflationEvalTools/src/config/SimConfig.jl
  src/InflationEvalTools/src/resample/ResampleGSBB.jl
  src/InflationEvalTools/src/resample/ResampleSBB.jl
  src/InflationEvalTools/src/resample/ResampleScrambleVarMonths.jl
  src/InflationEvalTools/src/trend/TrendFunction.jl
  src/InflationFunctions/src/InflationDynamicExclusion.jl
  src/InflationFunctions/src/InflationFixedExclusionCPI.jl
  src/InflationFunctions/src/InflationFunctions.jl
  src/InflationFunctions/src/InflationPercentileEq.jl
  src/InflationFunctions/src/InflationPercentileWeighted.jl
  src/InflationFunctions/src/InflationSimpleMean.jl
  src/InflationFunctions/src/InflationTotalRebaseCPI.jl
  src/InflationFunctions/src/InflationTrimmedMeanEq.jl
  src/InflationFunctions/src/InflationTrimmedMeanWeighted.jl
  src/InflationFunctions/src/InflationWeightedMean.jl
  src/InflationFunctions/src/inflation_tags.jl
Labels: enhancement

#75 Escenario A en medida de exclusión dinámica
  Project.toml
  data/.gitignore
  docs/make.jl
  docs/src/eval/EscA/evaluacion-dynEx.md
  docs/src/eval/EscA/images/dynamic-exclusion/obs_trajectory.svg
  scripts/dynamic-exclusion/evaluations_2021-08/esc_a.jl
  scripts/dynamic-exclusion/methods_test.jl
  scripts/dynamic-exclusion/optimization.jl
  src/InflationFunctions/src/InflationDynamicExclusion.jl
Labels: Evaluación-2020

#58 suavizamiento exponencial
  scripts/test_ExpSmoothing.jl
  scripts/test_Inflation_Simp_Weighted_Mean.jl
  src/InflationFunctions/src/InflationExpSmoothing.jl
  src/InflationFunctions/src/InflationFunctions.jl
  src/InflationFunctions/src/inflation_tags.jl
Labels: enhancement

#77 Evaluación de escenario B y C para la medida de exclusión dinámica
  docs/make.jl
  docs/src/eval/EscB/evaluacion-dynEx.md
  docs/src/eval/EscB/images/dynamic-exclusion/obs_trajectory.svg
  docs/src/eval/EscC/evaluacion-dynEx.md
  docs/src/eval/EscC/images/dynamic-exclusion/obs_trajectory_c19.svg
  docs/src/eval/EscC/images/dynamic-exclusion/obs_trajectory_c20.svg
  scripts/dynamic-exclusion/EscA/esc_a.jl
  scripts/dynamic-exclusion/EscB/esc_b.jl
  scripts/dynamic-exclusion/EscC/EscC19/esc_c19.jl
  scripts/dynamic-exclusion/EscC/EscC20/esc_c20.jl
Labels: Evaluación-2020

#59 Evaluación escenario A de subyacente MAI
  Manifest.toml
  data/.gitignore
  docs/Manifest.toml
  docs/make.jl
  docs/src/eval/EscA/evaluacion-MAI.md
  docs/src/eval/EscA/images/mai/MAI-optima-MSE.svg
  docs/src/eval/EscA/images/mai/MAI-optima-bestOptim-MSE.svg
  notebooks/mai-live-optimization.jl
  notebooks/test-distributed.jl
  scripts/mai/Esc-A/eval-CoreMai.jl
  scripts/mai/Esc-A/eval-combineBestCoreMai.jl
  scripts/mai/Esc-A/eval-combineCoreMai.jl
  scripts/mai/Esc-A/eval-helpers.jl
  scripts/mai/Esc-A/optim-CoreMai.jl
  scripts/mai/eval-combineCoreMai.jl
  scripts/mai/eval-helpers.jl
  scripts/test_errmax_scramble.jl
  scripts/test_legacyparam.jl
  src/InflationEvalTools/Project.toml
  src/InflationEvalTools/src/InflationEvalTools.jl
  src/InflationEvalTools/src/combination/combination_weights.jl
  src/InflationEvalTools/src/simulate/eval_mse_online.jl
  src/InflationFunctions/src/InflationFunctions.jl
  src/InflationFunctions/src/inflation_tags.jl
  src/InflationFunctions/src/mai/InflationCoreMai.jl
Labels: Evaluación-2020

#79 Evaluación de escenario C de subyacente MAI
  docs/make.jl
  docs/src/eval/EscA/evaluacion-MAI.md
  docs/src/eval/EscB/evaluacion-MAI.md
  docs/src/eval/EscB/images/mai/MAI-optima-MSE.svg
  docs/src/eval/EscC/evaluacion-MAI.md
  docs/src/eval/EscC/images/mai/MAI-optima-MSE_fdate=Dec19.svg
  docs/src/eval/EscC/images/mai/MAI-optima-MSE_fdate=Dec20.svg
  docs/src/eval/EscC/images/mai/MAI-optima-bestOptim-MSE-C19.svg
  docs/src/eval/EscC/images/mai/MAI-optima-bestOptim-MSE-C20.svg
  scripts/mai/Esc-C/C19/optim-CoreMai.jl
  scripts/mai/Esc-C/C20/optim-CoreMai.jl
  scripts/mai/Esc-C/eval-CoreMai.jl
  scripts/mai/Esc-C/eval-combineBestCoreMai.jl
  scripts/mai/Esc-C/eval-combineCoreMai.jl
  scripts/mai/Esc-C/runsims.jl
Labels: Evaluación-2020

#80 Escenarios A y B medias truncadas
  Manifest.toml
  Project.toml
  docs/make.jl
  docs/src/eval/EscA/evaluacion-MT.md
  docs/src/eval/EscA/images/trimmed_mean/trayectorias_MT.svg
  docs/src/eval/EscB/evaluacion-MT.md
  docs/src/eval/EscB/images/trimmed_mean/trayectorias_MT.svg
  scripts/trimmed_mean/Esc-A/escenarioA.jl
  scripts/trimmed_mean/Esc-B/escenarioB.jl
  scripts/trimmed_mean/Esc-C/escenarioC.jl
  scripts/trimmed_mean/scripts/beta/plot_grid.jl
  scripts/trimmed_mean/scripts/beta/plot_tray.jl
  scripts/trimmed_mean/scripts/beta/plots_trimmed_mean.jl
  scripts/trimmed_mean/scripts/beta/trimmed_mean_unificada.jl
  scripts/trimmed_mean/scripts/grid_batch.jl
  scripts/trimmed_mean/scripts/grid_optim.jl
  src/InflationFunctions/src/InflationTrimmedMeanEq.jl
  src/InflationFunctions/src/InflationTrimmedMeanWeighted.jl
Labels: Evaluación-2020

#56 Evaluación de percentiles #47
  docs/make.jl
  docs/src/eval/EscA/evaluacion-InflPercentile.md
  docs/src/eval/EscA/images/InflPercentileEq/MSE.png
  docs/src/eval/EscA/images/InflPercentileEq/obs_trajectory.svg
  docs/src/eval/EscA/images/InflPercentileWeighted/MSE.png
  docs/src/eval/EscA/images/InflPercentileWeighted/obs_trajectory.svg
  docs/src/eval/EscB/evaluacion-InflPercentile.md
  docs/src/eval/EscB/images/InflPercentileEq/MSE.png
  docs/src/eval/EscB/images/InflPercentileEq/obs_trajectory.svg
  docs/src/eval/EscB/images/InflPercentileWeighted/MSE.png
  docs/src/eval/EscB/images/InflPercentileWeighted/obs_trajectory.svg
  docs/src/eval/EscC/evaluacion-InflPercentile.md
  docs/src/eval/EscC/images/InflPercentileEq/MSE_c19.png
  docs/src/eval/EscC/images/InflPercentileEq/MSE_c20.png
  docs/src/eval/EscC/images/InflPercentileEq/obs_trajectory_c19.svg
  docs/src/eval/EscC/images/InflPercentileEq/obs_trajectory_c20.svg
  docs/src/eval/EscC/images/InflPercentileWeighted/MSE_c19.png
  docs/src/eval/EscC/images/InflPercentileWeighted/MSE_c20.png
  docs/src/eval/EscC/images/InflPercentileWeighted/obs_trajectory_c19.svg
  docs/src/eval/EscC/images/InflPercentileWeighted/obs_trajectory_c20.svg
  scripts/InflationPercentile/Eval-InflationPercentile/EscA/Esc-A.jl
  scripts/InflationPercentile/Eval-InflationPercentile/EscB/Esc-B.jl
  scripts/InflationPercentile/Eval-InflationPercentile/EscC/Esc-C19.jl
  scripts/InflationPercentile/Eval-InflationPercentile/EscC/Esc-C20.jl
Labels: Evaluación-2020

#83 Implementación de períodos de evaluación
  scripts/test_EvalPeriod.jl
  scripts/test_SimConfig.jl
  src/InflationEvalTools/src/InflationEvalTools.jl
  src/InflationEvalTools/src/config/EvalPeriod.jl
  src/InflationEvalTools/src/config/SimConfig.jl
  src/InflationEvalTools/src/simulate/metrics.jl
  src/InflationEvalTools/src/simulate/simutils.jl
Labels: enhancement

#45 Evaluación de escenarios A, B y C de medidas basadas en exclusión fija
  docs/make.jl
  docs/src/eval/EscA/evaluacion-exclusion-fija.md
  docs/src/eval/EscA/images/Fx-Ex/MSE-Med.svg
  docs/src/eval/EscA/images/Fx-Ex/Trayectorias-FxEx.svg
  docs/src/eval/EscA/images/Fx-Ex/optima.svg
  docs/src/eval/EscB/evaluacion-exclusion-fija.md
  docs/src/eval/EscB/images/Fx-Ex/MSE-Med.svg
  docs/src/eval/EscB/images/Fx-Ex/Trayectorias-FxEx.svg
  docs/src/eval/EscB/images/Fx-Ex/optima.svg
  docs/src/eval/EscC/evaluacion-exclusion-fija.md
  docs/src/eval/EscC/images/Fx-Ex/Trayectorias-FxEx-C19.svg
  docs/src/eval/EscC/images/Fx-Ex/Trayectorias-FxEx-C20.svg
  docs/src/eval/EscC/images/Fx-Ex/optima-c19.svg
  docs/src/eval/EscC/images/Fx-Ex/optima-c20.svg
  notebooks/Fixed-Exclusion.jl
  scripts/Fx-Exc/Esc-A/Esc-A-Medidas.jl
  scripts/Fx-Exc/Esc-A/Esc-A-OptFxEx.jl
  scripts/Fx-Exc/Esc-B/Esc-B-Medidas.jl
  scripts/Fx-Exc/Esc-B/Esc-B-OptFxEx.jl
  scripts/Fx-Exc/Esc-C/C19/Esc-C19-Medidas.jl
  scripts/Fx-Exc/Esc-C/C19/Esc-C19-OptFxEx.jl
  scripts/Fx-Exc/Esc-C/C20/Esc-C20-Medidas.jl
  scripts/Fx-Exc/Esc-C/C20/Esc-C20-OptFxEx.jl
Labels: Evaluación-2020

#86 Escenario D de evaluación de percentiles
  .gitignore
  docs/make.jl
  docs/src/eval/EscA/evaluacion-percentiles.md
  docs/src/eval/EscB/evaluacion-percentiles.md
  docs/src/eval/EscC/evaluacion-percentiles.md
  docs/src/eval/EscD/evaluacion-percentiles.md
  docs/src/eval/EscD/images/Percentile/Optim-Percentile_EVALDATE=2019-12-01_PARAM_PERIOD=36.svg
  docs/src/eval/EscD/images/Percentile/Optim-Percentile_EVALDATE=2020-12-01_PARAM_PERIOD=60.svg
  scripts/percentile/EscA/Esc-A.jl
  scripts/percentile/EscB/Esc-B.jl
  scripts/percentile/EscC/Esc-C19.jl
  scripts/percentile/EscC/Esc-C20.jl
  scripts/percentile/EscD/Esc-D.jl
  scripts/percentile/perc-optimization.jl
Labels: Evaluación-2020

#81 Evaluación de escenario D de subyacente MAI
  docs/make.jl
  docs/src/eval/EscD/evaluacion-MAI.md
  docs/src/eval/EscD/images/mai/MAI-optima-MSE_SCENARIO=D19-36.svg
  docs/src/eval/EscD/images/mai/MAI-optima-MSE_SCENARIO=D19-60.svg
  docs/src/eval/EscD/images/mai/MAI-optima-MSE_SCENARIO=D20-36.svg
  docs/src/eval/EscD/images/mai/MAI-optima-MSE_SCENARIO=D20-60.svg
  docs/src/eval/EscD/images/mai/MAI-optima-bestOptim-MSE-D19-36.svg
  docs/src/eval/EscD/images/mai/MAI-optima-bestOptim-MSE-D19-60.svg
  docs/src/eval/EscD/images/mai/MAI-optima-bestOptim-MSE-D20-36.svg
  docs/src/eval/EscD/images/mai/MAI-optima-bestOptim-MSE-D20-60.svg
  scripts/mai/Esc-C/runsims.jl
  scripts/mai/Esc-D/D19-36/eval-CoreMai.jl
  scripts/mai/Esc-D/D19-36/optim-CoreMai.jl
  scripts/mai/Esc-D/D19-60/eval-CoreMai.jl
  scripts/mai/Esc-D/D19-60/optim-CoreMai.jl
  scripts/mai/Esc-D/D20-36/eval-CoreMai.jl
  scripts/mai/Esc-D/D20-36/optim-CoreMai.jl
  scripts/mai/Esc-D/D20-60/eval-CoreMai.jl
  scripts/mai/Esc-D/D20-60/optim-CoreMai.jl
  scripts/mai/Esc-D/eval-combineBestCoreMai.jl
  scripts/mai/Esc-D/eval-combineCoreMai.jl
  scripts/mai/Esc-D/runsims.jl
Labels: Evaluación-2020
